@import "styles/home.css";
@import "styles/coupon.css";
@import "react-toastify/dist/ReactToastify.css";

.min-height-100vh {
    min-height: calc(100vh - 70px)
}

.w-fit-content {
    width: fit-content;
}

.resize-none {
    resize: none;
}

img {
    aspect-ratio: 1/1;
}